#container > * {
    flex: 0 0 auto;
    background-color: beige;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
    background-color: beige;
    margin: auto;
    border-radius: 1%;
    padding: 1%;
}

body {
    background-color: lightgray;
}