#container > * {
    flex: 0 0 auto;
    background-color: beige;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
    background-color: beige;
    margin: auto;
    border-radius: 1%;
    padding: 1%;
}

#UI-container {
    padding: 64px 32px;
    display: flex;
    justify-content: center;
}

#gridsize {
    width: 10vw;
    height: 3vw;
    border: 1px solid grey;
    border-radius: 8px;
    background-color: beige;
}

body {
    background-color: lightgray;
}